@import "./variables.less";

/* ----------------------------------------- */
/*  Danger Sheet Styles                      */
/* ----------------------------------------- */

&.danger {
  min-width: 500px;
  min-height: 680px;

  .sheet-header {
    img.profile {
      flex: 0 0 100px;
      height: 100px;
      max-width: 100px;
    }
  }

  .editor {
    min-height: 50px;
  }
}
