@import "./variables.less";

/* ----------------------------------------- */
/*  Danger Sheet Styles                      */
/* ----------------------------------------- */

&.danger {
  min-width: 450px;
  min-height: 650px;

  .sheet-header {
    img.profile {
      flex: 0 0 80px;
      height: 80px;
      max-width: 80px;
    }
    aside {
      flex: 0 0 auto;

      .danger-level {
        text-align: center;
        width: 60px;
      }
    }
  }

  .rollable {
    &:hover {
      color: red;
      text-shadow: 0 0 10px red;
      cursor: pointer;
    }
  }
}
