<div class="npc-browser browser flexrow">
    <div class="control-area">
        <div class="filtercontainer" id="tagfilter">   
            <div class="filter"  data-type="text" data-path="name">         
                <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="Nome" />
            </div>
            <!-- <dl id="sorter">
                <dt>"Classificar por":</dt>
                <dd><select name="sortorder">
                    <option value="name" selected>"Nome"</option>
                    <option value="nd">Nível de Dificuldade</option>
                    <option value="tamanho">Tamanho</option>
                </select></dd>
            </dl> -->
            <button id="reset-npc-filter">Resetar Filtros</button>
        </div>                
        {{> "systems/tormenta20/templates/compendium-browser/filter-container.html" filters=npcFilters}}
    </div>
    <ul>
        <li class="item flexrow item-header">
            <div style="font-weight: 900;">Nome</div>
        </li>
        {{#each npcs as |npc id|}}
        <li class="npc flexrow draggable" data-entry-compendium="{{npc.compendium}}" data-entry-id="{{npc._id}}">
            <div class="npc-image">
                <img class="" data-src="{{npc.img}}" title="{{npc.name}}" width="32" height="32" />
            </div>
            <div class="npc-line">
                <div class="npc-name">
                    <span class="item-edit"><a>{{npc.name}}</a></span>
                </div>
                <div class="npc-tags">
		            <span class="">{{npc.data.attributes.raca}}</span>
                    <span class="size-display">{{npc.displaySize}}</span>
                    <span class="cr-display" title="Challange Rating">(ND {{npc.displayCR}})</span>
                    <!-- <span class="type">{{npc.data.details.type.value}}</span> -->
                </div>
                <div class="filter-tags">
                    <input type="hidden" name="nd" value="{{npc.data.attributes.nd}}">
                    <input type="hidden" name="tamanho" value="{{npc.data.attributes.tamanho}}">
                </div>
            </div>
        </li>
        {{/each}}
    </ul>

</div>