<header class="flexrow">
	{{> "tormenta20.currency"}}
	<div class="item-controls">
		<a class="button item-control item-dialog" data-type="gerais" data-tooltip="Criar Item">
			<i class="fas fa-plus"></i>
		</a>
	</div>
</header>
<div class="inventory-list">
	{{> "tormenta20.list-weapon"}}
	{{> "tormenta20.list-equipment"}}
	{{> "tormenta20.list-consumable"}}
	{{> "tormenta20.list-loot"}}
</div>
{{> "tormenta20.encumbrance"}}