<ol class="item-list">
	<li class="item item-header flexrow">
		<div class="item-name" >{{ localize 'T20.Weapons'}}</div>
	</li>
	{{#each actor.inventario.arma.items as |item id|}}
	<li class="item" data-item-id="{{item._id}}">
		<div class="item-name flexrow rollable">
			{{> "tormenta20.list-header-element" item=item}}
		</div>
	</li>
	{{/each}}
</ol>