<ul class="item-list">
	<li class="item item-header flexrow">
		<div class="item-name">{{ localize 'T20.Powers'}}</div>
	</li>
	{{#each actor.poderes as |item|}}
	<li class="item" data-item-id="{{item._id}}">
		<div class="item-name flexrow rollable" data-label="{{item.name}}">
			{{> "tormenta20.list-header-element" item=item}}
		</div>
	</li>
	{{/each}}
</ul>