<ol class="item-list">
	<li class="item item-header flexrow">
		<div class="item-name">{{ localize 'T20.Items'}}</div>
	</li>
	{{#each actor.inventario.consumivel.items as |item|}}
	<li class="item" data-item-id="{{item._id}}">
		<div class="item-name flexrow {{#if (eq item.type "consumivel")}}rollable{{/if}}">
			{{> "tormenta20.list-header-element" item=item}}
		</div>
	</li>
	{{/each}}
</ol>