{{!-- Filters --}}

<div class="item item-header" style="text-align: center;">
	<label>CD Base:</label> <input style="max-width: 30px;" name="data.attributes.cd" type="text" value="{{data.attributes.cd}}" data-dtype="Number">
	<select title="Atributo-Chave" name="data.atributoChave">
		{{#select data.atributoChave}}
		<option value="int">Inteligência</option>
		<option value="sab">Sabedoria</option>
		<option value="car">Carisma</option>
		{{/select}}
	</select>
</div>
<ul class="item-list">
	{{#each actor.magias as |circulo i|}}
	{{#if (lte i ../actor.maiorCirculo)}}
	<ol class="item-list">
		<li class="item flexrow item-header">
			{{#if ../isPreparationCaster}}<div class="item-toggles">Prep</div>{{/if}}
			<div class="item-image"></div>
			<div class="item-name">{{i}}º Círculo ({{circulo.custo}} PM)</div>
			<div class="item-tipo">Escola</div>
			<div class="item-tipo">Ativação</div>
			<div class="item-controls">

				<a class="item-control item-create" title="Create item" data-type="magia" data-circulo="{{i}}" data-custo="{{circulo.custo}} data-atrRes="{{../actor.data.atributoChave}}" data-><i class="fas fa-plus"></i> Nova</a>
			</div>
		</li>
		{{#each circulo.spells as |m index|}}
		<li class="item flexrow" data-item-id="{{m._id}}">
			{{#if ../../isPreparationCaster}}
			<div class="item-toggles">
				<a class="item-toggle preparation-toggle {{#if m.data.preparada }}active{{/if}}" title="Preparada"><i class="fas fa-sun"></i></a>
			</div>
			{{/if}}
			<div class="item-image" style="background-image: url('{{m.img}}')"></div>
			<span class="rollable magia-rollable" data-label="{{m.name}}"><h4 class="item-name">{{m.name}}</h4></span>
			<div class="item-tipo">{{m.data.escola}}</div>
			<div class="item-tipo">{{#each ../../config.listaAtivacao as |name prop|}}{{#if (eq ../data.ativacao.execucao prop)}}{{name}}{{#ifNotEquals ../data.ativacao.custo circulo.custo}} ({{../data.ativacao.custo}} PM){{/ifNotEquals}}{{/if}}{{/each}}</div>
			<div class="item-controls">
				<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
	{{/if}}
	{{/each}}
</ul>
