{{#if actor.favoritos.armas}}
<ol class="item-list favorites">
	<li class="item item-header flexrow">
		<div class="item-name" >{{ localize 'T20.Weapons'}}</div>
	</li>
	{{#each actor.favoritos.armas as |item|}}
	<li class="item flexrow" data-item-id="{{item._id}}">
		<div class="item-name flexrow flex2 rollable">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<div class="item-description flexcol">
				<div>
					<label>{{item.name}}</label>
					{{#if (and @root.equipmentSlots item.equipado.slot)}}
					<span class="fa-stack">
						{{{item.equipado.icon1}}}
						{{{item.equipado.icon2}}}
					</span>
					{{else if item.system.equipado}}
					<span class="fa-stack fa-fw fa-2xs">
						<i class="fa-solid fa-hand-back-fist fa-stack-1x"></i>
						<b class="fa-stack-1x">{{item.system.equipado}}</b>
					</span>
					{{/if}}
				</div>
				<div class="item-tipo">{{"t20-itemDesc" item}}</div>
			</div>
		</div>
	</li>
	{{/each}}
</ol>
{{/if}}
{{#if actor.favoritos.itens}}
<ol class="item-list favorites">
	<li class="item item-header flexrow">
		<div class="item-name">{{ localize 'T20.Items'}}</div>
	</li>
	{{#each actor.favoritos.itens as |item|}}
	<li class="item flexrow" data-item-id="{{item._id}}">
		<div class="item-name flexrow flex2 {{#if (eq item.type "consumivel")}}rollable{{/if}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<div class="item-description flexcol">
				<label>{{item.name}}</label>
				<div class="item-tipo">{{"t20-itemDesc" item}}</div>
			</div>
		</div>
		{{> "systems/tormenta20/templates/actor/parts/actor-item-controls.hbs" item=item }}
	</li>
	{{/each}}
</ol>
{{/if}}
{{#if actor.favoritos.poderes}}
<ol class="item-list favorites">
	<li class="item item-header flexrow">
		<div class="item-name">{{ localize 'T20.Powers'}}</div>
	</li>
	{{#each actor.favoritos.poderes as |item|}}
	<li class="item flexrow" data-item-id="{{item._id}}">
		<div class="item-name flexrow flex2 rollable" data-label="{{item.name}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<div class="item-description flexcol">
				<label>{{item.name}}</label>
				<div class="item-tipo">{{"t20-itemDesc" item}}</div>
			</div>
		</div>
		{{> "systems/tormenta20/templates/actor/parts/actor-item-controls.hbs" item=item }}
	</li>
	{{/each}}
</ol>
{{/if}}
{{#if actor.favoritos.qtdMagias}}
<ol class="item-list favorites">
	<li class="item item-header flexrow">
		<div class="item-name">{{ localize 'T20.Spells'}}</div>
	</li>
	{{#each actor.favoritos.magias as |circulo|}}
		{{#each circulo.spells as |m|}}
		<li class="item flexrow" data-item-id="{{m._id}}">
			<div class="item-name flexrow flex2 rollable" data-label="{{m.name}}">
				<div class="item-image" style="background-image: url('{{m.img}}')"></div>
				<div class="item-description flexcol">
					<div>
						<label>{{m.name}}</label>
						{{#if @root.isPreparationCaster}}
						<span class="item-toggles">
							<a class="item-toggle preparation-toggle {{#if m.system.preparada }}active{{/if}}" title="{{localize 'T20.SpellPrepPrepared'}}">
								<i class="fas fa-sun"></i>
							</a>
						</span>
						{{/if}}
					</div>
					<div class="item-tipo">{{"t20-itemDesc" m}}</div>
				</div>
			</div>
			{{> "systems/tormenta20/templates/actor/parts/actor-item-controls.hbs" item=m }}
		</li>
		{{/each}}
	{{/each}}
</ol>
{{/if}}