<ul class="attributes summary flexrow">
	<li>
		<input type="text" name="system.detalhes.raca" value="{{system.detalhes.raca}}" placeholder="{{ localize 'T20.Race'}}" />
	</li>
	<li>
		<input type="text" name="system.detalhes.origem" value="{{system.detalhes.origem}}" placeholder="{{ localize 'T20.Background'}}" />
	</li>
	<li class="char-class {{#unless actor.classes.length}}sem-classe{{/unless}} flexrow">
		{{#if actor.classes.length }}
		{{#each actor.classes as | class key | }}
		<span class="item" data-item-id="{{class._id}}">
			<a class="item-control item-edit" title="{{ localize 'T20.Edit'}}">
				{{#if (eq ../actor.classes.length 1)}} {{class.name}} {{else}} {{class.abbr}} {{/if}}
				{{class.system.niveis}}
			</a>
			<a class="item-control class-config item-delete" title="{{ localize 'T20.Delete'}}">
				<i class="fas fa-trash" style="font-size: 14px;"></i>
			</a>
		</span>
		{{/each}}
		<a class="item-control class-config add-classe" title="{{ localize 'T20.Configure'}}">
			<i class="fas fa-plus" style="float:right;margin-right: 5px;"></i>
		</a>
		{{else}}
		<span class="item" data-item-id="{{class._id}}">
			<a class="item-control item-edit add-classe" title="{{ localize 'T20.Edit'}}"> {{ localize 'T20.Class'}} </a>
		</span>
		{{/if}}
	</li>
	{{#if mostrarDivindade }}
	<li>
		<input type="text" name="system.detalhes.divindade" value="{{system.detalhes.divindade}}" placeholder="{{ localize 'T20.Deity'}}" />
	</li>
	{{/if}}
</ul>