<header class="sheet-header flexrow">
	<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
	<section class="header-details flexcol">
		<div class="general-information flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'T20.Name' }}" />
			</h1>
		</div>
		{{#if SubHeader}}
		<ul class="attributes summary flexrow">
			<li>
				<input type="text" name="system.detalhes.raca" value="{{system.detalhes.raca}}" placeholder="{{ localize 'T20.Race'}}" />
			</li>
		</ul>
		{{/if}}
	</section>
</header>
