<form class="tormenta20 base" autocomplete="off">

	{{!-- Sheet Tab Navigation --}}

	<nav class="sheet-tabs tabs" data-group="primary">
		<label>
			<i class="fas fa-dice-d20"></i>
			<a class="item" data-tab="attributes" title="Ficha">Ficha</a>
		</label>
		<label>
			<i class="fas fa-address-card"></i>
			<a class="item" data-tab="description" title="Biografia">Biografia</a>
		</label>
		{{#if owner }}
		<label>
			<i class="fas fa-book"></i>
			<a class="item" data-tab="journal">Diário</a>
		</label>
		{{/if}}
		<!-- <label><i class="fas fa-wrench"></i> <a class="item" data-tab="aviso" title="Aviso">Aviso</a></label> -->
		<label style="flex:0"><a class="item" id="configure-actor" title="Configurar"><i class="fas fa-cogs"></i></a></label>
	</nav>


	{{!-- Sheet Header --}}
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		
		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
	
			<header class="sheet-header flexrow" style="margin-bottom: -2px;">
				<section class="header-details flexcol">
					<section class="general-information">
						<h1 class="charname"">
							<input name="name" type="text" value="{{actor.name}}" data-dtype="String" placeholder="Nome" />
						</h1>
						<div class="level-information {{#if disableExperience}}noxp{{/if}}" style="margin-right: 0.5em;">
							<input class="level" disabled style="color: var(--primary-color); border: 1px solid transparent; display:inline-block; width: {{#if (lt data.attributes.nivel.value 10)}}76{{else}}87{{/if}}px;" name="data.attributes.nivel.value" type="text" value="Nível {{data.attributes.nivel.value}}" data-dtype="String" />
							{{#unless disableExperience}}
							<div class="xp-tracker" title="Experiência">
									<div class="experience" style="height: 16px; font-size: 11px;">
									<input class="current-xp" style="display: block; border: 1px solid transparent; border-radius: 3px; background: none; transition: background .3s ease, border-color .3s ease; margin:0;" name="data.attributes.nivel.xp.value" type="text" value="{{data.attributes.nivel.xp.value}}" data-dtype="Number" placeholder="0" maxlength="7" />
									<span class="max-xp">{{data.attributes.nivel.xp.proximo}}</span>
								</div>
								<div class="xp-bar">
									<div class="xp-bar-total">
										<span class="xp-bar-current" style="width: {{data.attributes.nivel.xp.pct}}%"></span>
									</div>
								</div>
							</div>
							{{/unless}}
						</div>
					</section>
						<!-- <h1 class="charname" style="margin: 5px;"> -->
							<!-- <input name="name" type="text" value="{{actor.name}}" data-dtype="String" placeholder="Nome" /> -->
						<!-- </h1> -->
						
					{{!-- Character Summary --}}
					<section class="general-information summary">
						<ul class="attributes flexrow" style="flex: 1; margin:0; padding:0;">
							<li class="flexrow">
								<input type="text" name="data.attributes.raca" value="{{data.attributes.raca}}" data-dtype="String" placeholder="Raça" />
							</li>
							<li class="flexrow">
								<input type="text" name="data.attributes.origem" value="{{data.attributes.origem}}" data-dtype="String" placeholder="Origem" />
							</li>
							<li class="flexrow">
								<input type="text" name="data.attributes.classe" value="{{data.attributes.classe}}" data-dtype="String" placeholder="Classe" />
							</li>
							{{#if actor.flags.mostrarDivindade}}
							<li class="flexrow">
								<input type="text" name="data.attributes.divindade" value="{{data.attributes.divindade}}" data-dtype="String" placeholder="Divindade" />
							</li>
							{{/if}}
						</ul>
						
					</section>
				</section>
			</header>
			<div class="attributes-body">
				<div class="dados" style="width:61%">
					{{!-- Abilities --}}
					<ul class="ability-scores flexrow">
						{{#each data.atributos as |atr key|}}
						<li class="ability" data-item-id="{{key}}">
							<h4 class="ability-name box-title rollable atributo-rollable">{{key}}</h4>
							<span class="rollable atributo-rollable" ><label>
								<h1 style="border: 0!important; padding:0;">{{numberFormat atr.mod decimals=0 sign=true}}</h1>
							</label>
							</span>
							<footer class="attribute-footer flexrow">
								<label class="flexcol">
									<input style="margin-bottom: 0;" title="Base" type="number" name="data.atributos.{{key}}.value" value="{{atr.value}}" placeholder="0" />
									Base
								</label>
								{{#if ../actor.flags.mostrarAtributoTemp}}
								<label class="flexcol">
									<input style="margin-bottom: 0;" title="Bônus Temporário" type="number" name="data.atributos.{{key}}.temp"  value="{{atr.temp}}" placeholder="0" />
									Temp
								</label>
								{{/if}}
							</footer>
						</li>
						{{/each}}
					</ul>
					<div class="recursos">
						<ul class="attributes flexrow">
							<li class="attribute health">
								<h4 class="attribute-name box-title">Pontos de Vida</h4>
								<div class="attribute-value multiple flexrow" style="width: 70%;margin: auto;">
									<label class="flexcol">
										<input name="data.attributes.pv.value" type="text" value="{{data.attributes.pv.value}}" data-dtype="Number" placeholder="10">
										<span>Atuais</span>
									</label>
									
										<span class="sep">|</span>
									
									<label class="flexcol">
										<input name="data.attributes.pv.max" type="text" value="{{data.attributes.pv.max}}" data-dtype="Number" placeholder="10">
										Totais
									</label>
									
										<span class="sep">|</span>
									
									<label class="flexcol">
										<input name="data.attributes.pv.temp" title="Bônus Temporário" type="text" class="temphealth" placeholder="0" value="{{data.attributes.pv.temp}}" data-dtype="Number" />
										Temporários
									</label>
								</div>
							</li>
							<li class="attribute mana">
								<h4 class="attribute-name box-title">Pontos de Mana</h4>
								<div class="attribute-value multiple flexrow" style="width: 70%;margin: auto;">
									<label class="flexcol">
										<input name="data.attributes.pm.value" type="text" value="{{data.attributes.pm.value}}" data-dtype="Number" placeholder="-">
										Atuais
									</label>
									<span class="sep">|</span>
									<label class="flexcol">
										<input name="data.attributes.pm.max" type="text" value="{{data.attributes.pm.max}}" data-dtype="Number" placeholder="10">
										Totais
									</label>
									<span class="sep">|</span>
									<label class="flexcol">
										<input name="data.attributes.pm.temp" title="Bônus Temporário" type="text" class="temphealth" placeholder="0" value="{{data.attributes.pm.temp}}" data-dtype="Number" />
										Temporários
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="ataques">
						<ol class="item-list">
							<li class="item flexrow item-header">
								<div class="item-image"></div>
								<div class="item-name" >Arma</div>
								<div class="itam-rolls flex2">Ataque (Dano, Crítico)</div>
								<div class="item-controls"><a class="item-control item-create" title="Criar Arma" data-type="arma"><i class="fas fa-plus"></i>
								Nova</a>
								</div>
							</li>
							<div style="max-height: 124px; overflow-y: auto;">
							{{#each actor.armas as |item id|}}
							<li class="item flexrow" data-item-id="{{item._id}}">
								<div class="item-image" style="background-image: url('{{item.img}}')"></div>
								<span class="rollable arma-rollable item-name">
									<h4 class="item-name" >{{item.name}}</h4>
								</span>
								
								<div class="itam-rolls flex2">{{numberFormat item.data.atq sign=true}} ({{item.data.dmg}}, {{item.data.criticoM}}/x{{item.data.criticoX}})</div>
								<div class="item-controls">
									<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
									<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
								</div>
							</li>
							{{/each}}
							</div>
						</ol>
					</div>
					<div class="defesa">
						<ol class="ability-scores" style="width: calc(20% - 2px); height:124px; display:inline-block;">
							<li class="flexrow item-header flex-center">
								<h4 class="box-title">Defesa</h4>
							</li>
							<li class="flexrow text-center" >
								<div class="item-name" style="height:80px;">
									<div class="tooltip">
										<div class="tooltipcontent">
											<strong>Fontes:</strong>
											<br/>
											Base: 10
											<br/>
											{{#if data.defesa.des}}Destreza: {{data.atributos.des.mod}}
											<br />{{else}}
											{{#if (gt 0 data.atributos.des.mod)}}Destreza: {{data.atributos.des.mod}}
											<br /> {{/if}}{{/if}}
											{{#if data.defesa.armadura.equipado}} {{data.defesa.armadura.nome}}: {{data.defesa.armadura.value}}
											<br /> {{/if}}
											{{#if data.defesa.escudo.equipado}} {{data.defesa.escudo.nome}}: {{data.defesa.escudo.value}}
											<br /> {{/if}}
											{{#if data.defesa.outro}} Outros: {{data.defesa.outro}}
											<br /> {{/if}}
											{{#if data.defesa.temp}} Temporário: {{data.defesa.temp}}
											<br /> {{/if}}

										</div>
										<h1 style="padding:0">{{data.defesa.value}}</h1>
									</div>
									<div class="flexrow">
										{{#if actor.flags.mostrarOutrosDefesa}}
										<label class="flexcol">
											<input name="data.defesa.outro" title="Outros" type="number" class="temphealth" placeholder="0" value="{{data.defesa.outro}}" />
											Outros
										</label>
										{{/if}}
										<label class="flexcol">
											<input name="data.defesa.temp" title="Bônus Temporário" type="number"  class="temphealth" placeholder="0" value="{{data.defesa.temp}}" />
											Temp
										</label>
											
									</div>
								</div>
							</li>
						</ol>
						<ol class="item-list" style="width: calc(80% - 2px); max-height:124px; display:inline-block; vertical-align: top; margin:0; overflow-y: auto;">
							<li class="item flexrow item-header">
								<div class="item-image"></div>
								<div class="item-name flex2">Equipamento</div>
								<div class="item-def">Defesa</div>
								<div class="item-pen">Penalidade</div>
								<div class="item-toggles">
								</div>
								<div class="item-controls"><a class="item-control item-create" title="Criar Equipável" data-type="equip"><i class="fas fa-plus"></i> Nova</a></div>
							</li>
							{{#each actor.equipamentos as |item id|}}
							<li class="item flexrow" data-item-id="{{item._id}}">
								<div class="item-image" style="background-image: url('{{item.img}}')"></div>
								<h4 class="item-name flex2">{{item.name}}</h4>

								<div class="item-def">{{numberFormat item.data.armadura.value sign=true}}</div>
								<div class="item-pen">{{numberFormat item.data.armadura.penalidade sign=true}}</div>
								<div class="item-toggles">
									<a class="item-control item-toggle toggle-armor{{#if item.data.equipado}} active{{/if}}" title="{{#if item.data.equipado}}Desequipar{{else}}Equipar{{/if}}">
										<i class="fas fa-shield-alt"></i>
									</a>
								</div>
								<div class="item-controls">
									<a class="item-control item-edit" title="Editar">
										<i class="fas fa-edit"></i>
									</a>
									<a class="item-control item-delete" title="Excluir">
										<i class="fas fa-trash"></i>
									</a>
								</div>
							</li>
							{{/each}}
						</ol>
					</div>
					<div class="poderes">
						<ol class="item-list">
							<li class="item flexrow item-header flex-center">
							Poderes
							</li>
							<li class="item flexrow item-header">
								<div class="item-image"></div>
								<div class="item-name">Poder</div>
								<div class="item-tipo">Tipo</div>
								<div class="item-tipo">Ativação</div>
								{{#if owner}}
								<div class="item-controls">
									<a class="item-control item-create" title="Novo Poder" data-type="poder"><i class="fas fa-plus"></i> Novo</a>
								</div>
								{{/if}}
							</li>
							<div style="max-height:400px; overflow-y: auto;">
							{{#each actor.poderes as |item id|}}
							<li class="item flexrow" data-item-id="{{item._id}}">
								<div class="item-image" style="background-image: url('{{item.img}}')"></div>
								<span class="rollable poder-rollable" data-label="{{item.name}}">
									<h4 class="item-name">{{item.name}}</h4>
								</span>
								<div class="item-tipo" style="text-transform: capitalize;">{{item.data.tipo}}{{#if item.data.subtipo}}: {{item.data.subtipo}}{{/if}}</div>
								<div class="item-tipo">{{#if item.data.ativacao.execucao}}{{#each ../config.listaAtivacao as |name prop|}}{{#if (eq ../data.ativacao.execucao prop)}}{{name}}{{#if item.data.ativacao.custo}} ({{item.data.ativacao.custo}} PM){{/if}}{{/if}}{{/each}}{{else}}{{#if item.data.ativacao.custo}}{{item.data.ativacao.custo}} PM{{/if}}{{/if}}</div>
								{{#if ../owner}}
								<div class="item-controls">
									<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
									<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
								</div>
								{{/if}}
							</li>
							{{/each}}
							</div>
						</ol>
					</div>

					{{#if actor.maiorCirculo}}
					<div class="magias">
						<ol class="item-list">
							<li class="item flexrow item-header flex-center">
								<div>Magias</div>
							</li>
							<li class="item item-header" style="text-align: center;">
								<div>
							<label>CD:</label> <input style="max-width: 30px;" title="CD Base" name="data.attributes.cd" type="text" value="{{data.attributes.cd}}" data-dtype="Number">
								<select title="Atributo-Chave" name="data.atributoChave">
									{{#select data.atributoChave}}
									<option value="int">Inteligência</option>
									<option value="sab">Sabedoria</option>
									<option value="car">Carisma</option>
									{{/select}}
								</select>
								</div>
							</li>
							{{#each actor.magias as |circulo i|}}
							{{#if (lte i ../actor.maiorCirculo)}}
							<ol class="item-list">
								<li class="item flexrow item-header">
									{{#if ../isPreparationCaster}}<div class="item-toggles">Prep</div>{{/if}}
									<div class="item-image"></div>
									<div class="item-name">{{i}}º Círculo ({{circulo.custo}} PM)</div>
									<div class="item-tipo">Escola</div>
									<div class="item-tipo">Ativação</div>
									<div class="item-controls">

										<a class="item-control item-create" title="Create item" data-type="magia" data-circulo="{{i}}" data-custo="{{circulo.custo}}" data-atrRes="{{../actor.data.atributoChave}}"><i class="fas fa-plus"></i> Nova</a>
									</div>
								</li>
								{{#each circulo.spells as |m index|}}
								<li class="item flexrow" data-item-id="{{m._id}}">
									{{#if ../../isPreparationCaster}}
									<div class="item-toggles">
										<a class="item-toggle preparation-toggle {{#if m.data.preparada }}active{{/if}}" title="Preparada"><i class="fas fa-sun"></i></a>
									</div>
									{{/if}}
									<div class="item-image" style="background-image: url('{{m.img}}')"></div>
									<span class="rollable magia-rollable" data-label="{{m.name}}"><h4 class="item-name">{{m.name}}</h4></span>
									<div class="item-tipo">{{m.data.escola}}</div>
									<div class="item-tipo">{{#each ../../config.listaAtivacao as |name prop|}}{{#if (eq ../data.ativacao.execucao prop)}}{{name}}{{#ifNotEquals ../data.ativacao.custo circulo.custo}} ({{../data.ativacao.custo}} PM){{/ifNotEquals}}{{/if}}{{/each}}</div>
									<div class="item-controls">
										<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
									</div>
								</li>
								{{/each}}
							</ol>
							{{/if}}
							{{/each}}
						</ol>
					</div>
					{{/if}}


					<div class="outros">
						<h4 style="font-weight: bold; text-align: center;">PROFICIÊNCIAS E OUTRAS CARACTERÍSTICAS</h4>
						{{> "systems/tormenta20/templates/actor/parts/actor-traits.html"}}
						<textarea name="data.attributes.info" style="resize:vertical;" rows="10" data-dtype="String">{{data.attributes.info}}</textarea>
					</div>
					{{#if actor.referencias}}
					<div class="conditions">
						<li class="item flexrow item-header flex-center">
							<div>CONDIÇÕES ATUAIS</div>
						</li>
						{{#each actor.referencias as |item index|}}
						<div>
							<label class="tooltip">
							  <img class="invert" src="{{item.icon}}" width="36" height="36" /> {{item.label}} 
							  <i class="fas fa-question-circle"></i>
							  <div class="tooltipcontent"> <img src="{{item.icon}}" width="120" height="120" /> {{{item.tooltip}}} </div>
							</label>
						  </div>
						{{/each}}
					</div>
					{{/if}}
				</div>
				<div class="skills" style="width:38%">
					{{!-- Skills --}}

					{{> "systems/tormenta20/templates/actor/parts/actor-skills.html"}}

					<div class="inventario">
							
						<ol class="item-list">
							<li class="item flexrow item-header flex-center">Inventário</li>
							<li class="item flexrow item-header">
								<div class="item-name" style="flex: 5;">Nome</div>
								<div class="item-qtd">Qtd</div>
								<div class="item-peso">Peso</div>
								<div class="item-controls">

								</div>
							</li>
							<div style="max-height: 450px; overflow-y: auto;">
							{{#each actor.inventario as |item id|}}
							<li class="item flexrow" data-item-id="{{item._id}}">
								<div class="item-image" style="background-image: url('{{item.img}}')"></div>
								<h4 class="item-name {{#if (eq item.type "consumivel")}}rollable consumivel-rollable{{/if}}" style="flex: 5;">
									{{item.name}}
								</h4>
								<div class="item-qtd">{{item.data.qtd}}</div>
								<div class="item-peso">{{item.peso}}</div>
								<div class="item-controls">
									<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
									<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
								</div>
							</li>
							{{/each}}
							</div>
							<li class="item flexrow item-header">
								<div class="item-name text-right">
									&nbsp;&nbsp;
									<a class="item-control item-create" title="Criar armadura" data-type="equip"><i class="fas fa-plus"></i> Equipamento</a>
									&nbsp;&nbsp;
									<a class="item-control item-create" title="Criar consumivel" data-type="consumivel"><i class="fas fa-plus"></i> Consumível</a>
									&nbsp;&nbsp;
									<a class="item-control item-create" title="Criar tesouro" data-type="tesouro"><i class="fas fa-plus"></i> Item</a>
								</div>
							</li>
						</ol>

						<div class="inventory-currency">  
						  <ul class="currency">
							<li class="currency-header" title="Currency">
							  <i class="fas fa-coins"></i>
							</li>
							<li class="currency-item" title="Ouro">
							  <input type="text" name="data.detalhes.dinheiro.to" value="{{data.detalhes.dinheiro.to}}" data-dtype="Number">
							  <label for="data.detalhes.dinheiro.to" class="denomination gp">to</label>
							</li>
							<li class="currency-item" title="Prata">
							  <input type="text" name="data.detalhes.dinheiro.tp" value="{{data.detalhes.dinheiro.tp}}" data-dtype="Number">
							  <label for="data.detalhes.dinheiro.tp" class="denomination sp">t$</label>
							</li>
							<li class="currency-item" title="Cobre">
							  <input type="text" name="data.detalhes.dinheiro.tc" value="{{data.detalhes.dinheiro.tc}}" data-dtype="Number">
							  <label for="data.detalhes.dinheiro.tc" class="denomination cp">tc</label>
							</li>
						  </ul>
						</div>
						<div class="encumbrance" style="margin:0;" title="Carga">
							<span class="encumbrance-bar" style="width:{{data.detalhes.carga.pct}}%"></span>
							<span class="encumbrance-label">{{data.detalhes.carga.value}} / {{multiply data.atributos.for.value 10}}</span>
							<i class="encumbrance-breakpoint encumbrance-30 arrow-up"></i>
							<i class="encumbrance-breakpoint encumbrance-30 arrow-down"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{!-- Biography Tab --}}

		<div class="tab biography" data-group="primary" data-tab="description">
			<div class="flexrow flex-between">
				<div style="max-width: 220px;">
					<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200" />
				</div>

				{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}

			</div>
		</div>
		
		{{!-- Journal Tab --}}
		<div class="tab journal" data-group="primary" data-tab="journal">
			{{> "systems/tormenta20/templates/actor/parts/actor-diario.html"}}
		</div>

		{{!-- Aviso Tab --}}
		<!-- <div class="tab aviso" data-group="primary" data-tab="aviso"> -->
			<!-- {{!> "systems/tormenta20/templates/actor/parts/actor-aviso.html"}} -->
		<!-- </div> -->
	</section>
</form>
