<form class="{{cssClass}} tormenta20 tabbed flexcol" autocomplete="off">
	
	{{!-- Sheet Header --}}
	<header class="sheet-header flexrow" style="flex:0 0 180px">
		<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
		
		<section class="header-details flexrow">
			<section class="general-information">
				<h1 class="charname">
					<input name="name" type="text" value="{{actor.name}}" data-dtype="String" placeholder="Nome" />
				</h1>
				<div class="level-information">
					<a class="config-button" data-action="level"><div class="level" style="width: {{#if (lt data.attributes.nivel.value 10)}}76{{else}}87{{/if}}px;">Nível {{data.attributes.nivel.value}}</div></a>
					{{#unless disableExperience}}
					<div class="xp-tracker" title="Experiência">
							<div class="experience">
							<input class="current-xp" name="data.attributes.nivel.xp.value" type="text" value="{{data.attributes.nivel.xp.value}}" data-dtype="Number" placeholder="0" maxlength="7" />
							<span class="max-xp">{{data.attributes.nivel.xp.proximo}}</span>
						</div>
						<div class="xp-bar">
							<div class="xp-bar-total">
								<span class="xp-bar-current" style="width: {{data.attributes.nivel.xp.pct}}%"></span>
							</div>
						</div>
					</div>
					{{/unless}}
				</div>
			</section>

			{{!-- Character Summary --}}
			<ul class="attributes summary flexrow">
				<li>
					<input type="text" name="data.detalhes.raca" value="{{data.detalhes.raca}}" data-dtype="String" placeholder="Raça" />
				</li>
				<li>
					<input type="text" name="data.detalhes.origem" value="{{data.detalhes.origem}}" data-dtype="String" placeholder="Origem" />
				</li>
				<li class="classe flexrow" style="flex: 0.2 1 auto;">
					{{#if actor.classes.length }}
					{{#each actor.classes as | class key | }}
						<span class="item" data-item-id="{{class._id}}">
							<a class="item-control item-edit" title="Editar">
								{{#if (eq ../actor.classes.length 1)}} {{class.name}} {{else}} {{class.abbr}} {{/if}}
								{{class.data.niveis}}
							</a>
							<a class="item-control class-config item-delete" title="Excluir">
								<i class="fas fa-trash" style="font-size: 14px;"></i>
							</a>
						</span>
					{{/each}}
					{{else}}
					<input type="text" data-dtype="String" placeholder="Classe" disabled />
					{{/if}}
					<a class="item-control class-config add-classe" title="Configurar">
						<i class="fas fa-plus" style="float:right;margin-right: 5px;"></i>
					</a>
				</li>
				{{#if mostrarDivindade}}
				<li class="flexrow">
					<input type="text" name="data.detalhes.divindade" value="{{data.detalhes.divindade}}" data-dtype="String" placeholder="Divindade" />
				</li>
				{{/if}}
			</ul>

			{{!-- Header Attributes --}}
			<ul class="attributes flexrow">
				<li class="attribute health">
					<h4 class="attribute-name box-title">Pontos de Vida</h4>
					<div class="attribute-value multiple">
						<input name="data.attributes.pv.value" type="number" value="{{data.attributes.pv.value}}" data-dtype="Number" max="{{data.attributes.pv.max}}" placeholder="10">
						<span class="sep">/</span>
						<input disabled name="data.attributes.pv.max" type="number" value="{{data.attributes.pv.max}}" data-dtype="Number" placeholder="10">
					</div>
					<footer class="attribute-footer">
						<input name="data.attributes.pv.temp" style="height: 20px;" title="Bônus Temporário" type="number" class="temphealth" placeholder="0" value="{{data.attributes.pv.temp}}" data-dtype="Number" />
					</footer>
				</li>
				<li class="attribute mana">
					<h4 class="attribute-name box-title">Pontos de Mana</h4>
					<div class="attribute-value multiple">
						<input name="data.attributes.pm.value" type="number" value="{{data.attributes.pm.value}}" data-dtype="Number" max="{{data.attributes.pm.max}}" placeholder="10">
						<span class="sep">/</span>
						<input disabled style="color: #191813" name="data.attributes.pm.max" type="number" value="{{data.attributes.pm.max}}" data-dtype="Number" placeholder="10">
					</div>
					<footer class="attribute-footer">
						<input name="data.attributes.pm.temp" style="height: 20px;" title="Bônus Temporário" type="number" class="temphealth" placeholder="0" value="{{data.attributes.pm.temp}}" data-dtype="Number" />
					</footer>
				</li>
				<li class="attribute">
					<h4 class="attribute-name box-title">Defesa</h4>
						<div class="attribute-value">
							<h1 style="height:auto">{{data.attributes.defesa.value}}</h1>
					</div>
					<footer class="attribute-footer">
						<div class="flexrow">
							<select class="selectAtr" name="data.attributes.defesa.atributo" value="{{data.attributes.defesa.atributo}}">
								{{#select data.attributes.defesa.atributo}}
								<option value=""></option>
								<option value="for">For</option>
								<option value="des">Des</option>
								<option value="con">Con</option>
								<option value="int">Int</option>
								<option value="sab">Sab</option>
								<option value="car">Car</option>
								{{/select}}
							</select>
							<input name="data.attributes.defesa.outros" title="Outros" type="number" class="temphealth" placeholder="0" value="{{data.attributes.defesa.outros}}" />
					</footer>
				</li>
			</ul>
		</section>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<label><a class="item" data-tab="attributes">Atributos</a></label>
		<label><a class="item" data-tab="inventory">Inventário</a></label>
		<label><a class="item" data-tab="poderes">Poderes</a></label>
		{{#if actor.maiorCirculo}}<label><a class="item" data-tab="magias">Magias</a></label>{{/if}}
		<!-- <label><a class="item" data-tab="description">Biografia</a></label> -->
		<label><a class="item" data-tab="journal">Diário</a></label>
		<label><a class="item" data-tab="efeitos">Efeitos</a></label>
		<label style="flex:0"><a class="item" id="configure-actor" title="Configurar"><i class="fas fa-cogs"></i></a></label>
	</nav>


	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
			{{!-- Abilities --}}
			<ul class="ability-scores flexcol" style="height:fit-content">
				{{#each data.atributos as |atr key|}}
				<li class="ability" data-item-id="{{key}}">
					<h4 class="ability-name box-title rollable atributo-rollable">{{key}}</h4>
					<span class="rollable atributo-rollable" ><label>
						<h1 style="border: 0!important; padding:0;">{{numberFormat atr.mod decimals=0 sign=true}}</h1>
					</label>
					</span>
					<footer class="attribute-footer flexrow">
						<input style="margin-bottom: 0; border: none; background: none;" title="Base" type="number" name="data.atributos.{{key}}.value" value="{{atr.value}}" min="0" placeholder="0" />
						{{#if ../mostrarAtributoTemp}}<input style="margin-bottom: 0; border: none; background: none;" title="Bônus Temporário" type="number" name="data.atributos.{{key}}.bonus"  value="{{atr.bonus}}" placeholder="0" />{{/if}}
					</footer>
				</li>
				{{/each}}
			</ul>

			{{!-- Skills --}}

			{{> "systems/tormenta20/templates/actor/parts/actor-skills.html"}}

			<section class="center-pane">
			
				{{#if actor.favoritos}}
				<div class="favoritos">
					{{> "systems/tormenta20/templates/actor/parts/actor-favoritos.html"}}
				</div>
				{{/if}}
				<div class="outros">
					{{> "systems/tormenta20/templates/actor/parts/actor-traits.html"}}
					<textarea name="data.detalhes.info" style="resize:vertical; border-image: none; border-width: 1px;" rows="10" data-dtype="String">{{data.detalhes.info}}</textarea>
				</div>
				{{#if actor.referencias}}
				<div class="conditions">
					<li class="item flexrow item-header flex-center">
						<div>CONDIÇÕES ATUAIS</div>
					</li>
					{{#each actor.referencias as |item index|}}
					<div>
						<label class="tooltip">
						  <img class="invert" src="{{item.icon}}" width="36" height="36" /> {{item.label}} 
						  <i class="fas fa-question-circle"></i>
						  <div class="tooltipcontent"> <img src="{{item.icon}}" width="120" height="120" /> {{{item.tooltip}}} </div>
						</label>
					  </div>
					{{/each}}
				</div>
				{{/if}}
			</section>

		</div>

		<div class="tab poderes" data-group="primary" data-tab="poderes">
			{{> "systems/tormenta20/templates/actor/parts/actor-powers.html" sections=power}}
		</div>

		{{#if actor.maiorCirculo}}
		<div class="tab magias" data-group="primary" data-tab="magias">
			{{> "systems/tormenta20/templates/actor/parts/actor-spells.html" sections=spells}}
		</div>
		{{/if}}

		<div class="tab inventory" data-group="primary" data-tab="inventory">
			{{> "systems/tormenta20/templates/actor/parts/actor-inventory.html" sections=inventory}}
		</div>

		{{!-- Journal Tab --}}
		<div class="tab journal" data-group="primary" data-tab="journal">
			{{> "systems/tormenta20/templates/actor/parts/actor-diario.html"}}
		</div>

		{{!-- Efeitos Tab --}}
		<div class="tab efeitos" data-group="primary" data-tab="efeitos">
			{{> "systems/tormenta20/templates/actor/parts/active-effects.html"}}
		</div>
		
		{{!-- Modificadores Tab --}}
		<div class="tab mods" data-group="primary" data-tab="mods">
			{{> "systems/tormenta20/templates/actor/parts/actor-modifiers.html"}}
		</div>
	</section>
</form>
