<div class="tormenta20 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}">
    <header class="card-header flexrow">
        {{#if item.img}}<img src="{{item.img}}" title="{{item.name}}" width="36" height="36" style="flex:0" />{{/if}}
        <h3 class="item-name">
          <div>{{item.name}}</div>
        </h3>
        {{#if custo}}<span class="custo" style="float: right;"><div class="mana-cost" style="display: none;">{{custo}}</div><div>{{{custo}}} <br> PM</div></span>{{/if}}
        {{#if truque}}<span class="custo" style="float: right;"><div class="mana-cost" style="display: none;">{{custo}}</div><div><i>Truque</i></div></span>{{/if}}

    </header>

    <div class="card-content">
      {{#if spell}}
      <div class="spellheader" style="display:block;width:100%; flex: unset">
        <h4>{{spell.tipo}}<i> </i>{{spell.circulo}}<i> </i>{{spell.escola}}</h4>
        <p><b>Execução:</b> {{spell.execucao}} <b> Alcance:</b> {{{spell.alcance}}} {{~#if spell.alvo}}<b> Alvo:</b>
          {{{spell.alvo}}}{{~/if}} {{~#if spell.area}}<b> Área:</b> {{{spell.area}}}{{~/if}} <b> Duração:</b>
          {{{spell.duracao}}} {{~#if spell.resistencia}}<b> Resistência:</b> {{{spell.resistencia}}} (CD {{{spell.cd}}}){{~/if}}</p>
      </div>
      {{/if}}

      {{#if power}}
        <p>
          {{~#if power.resistencia}}<b> Resistência:</b> {{{power.resistencia}}} (CD {{{power.cd}}}){{~/if}}
        </p>
      {{/if}}

      {{#if details}} {{{details}}} {{/if}}

      {{#if aprimoramentos}}
        <ul>
        {{#each aprimoramentos as |ap|}}
          <li>
            <div class="row">
              <b>
              {{#ifEquals ap.tipo "Truque"}} Truque: {{else}}  {{#ifGreater ap.custo 0}}+{{/ifGreater}}{{ap.custo}}PM: {{/ifEquals}}
              {{#ifEquals ap.tipo "Aumenta"}} ({{ap.qtd}}x) {{/ifEquals}}
              </b>
              {{ap.description}}
            </div>
          </li>
        {{/each}}
        </ul>
      {{/if}}
    </div>

    {{#if roll}}
      {{#if spell}}
      <div class="roll roll--dano">{{{roll}}}</div>
      {{else}}
        {{#if critico}}
          <div class="roll critico">{{{roll}}}</div>
        {{else}}
          {{#if falha}}
            <div class="roll falha">{{{roll}}}</div>
          {{else}}
            <div class="roll">{{{roll}}}</div>
          {{/if}}     
        {{/if}}            
      {{/if}}
    {{/if}}
    {{#if rollDano}}
    <hr>
    {{#if danosDesc}}<div class="row"><em>{{danosDesc}}</em></div>{{/if}}
    <div class="roll roll--dano">{{{rollDano}}}</div>
    {{/if}}

    {{#ifOr rollDano custo}}
    
    <HR>
      <div>
        <table class="apply-area"><tr>
        {{#if rollDano}}
        <td class="apply-button"><i class="fas fa-user-minus apply-button-img" title="Aplicar Dano" onclick="alert('Aplicar Dano');"></i></td>
        <td class="apply-button"><i class="fas fa-user-plus apply-button-img" title="Aplicar Cura" onclick="alert('Aplicar Cura');"></i></td>
        <td class="apply-button"><i class="fas fa-user-injured apply-button-img" title="Aplicar Dano em Dobro" onclick="alert('Aplicar Dano em Dobro');"></i></td>
        <td class="apply-button"><i class="fas fa-user-shield apply-button-img" title="Aplicar Dano pela Metade" onclick="alert('Aplicar Dano pela Metade');"></i></td>
        {{/if}}

        {{#if custo}}
        <td class="apply-button"><i class="fas fa-star apply-button-img" title="Gastar Mana" onclick="alert('Gastar Mana');"></i></td>
        {{/if}}
      </tr></table>
      </div>

      {{/ifOr}}
</div>