<div class="form-group">
	<label>Resistência</label>
	<div class="form-fields">
		<input type="text" name="data.resistencia" value="{{data.resistencia}}" data-dtype="String" />
	</div>
</div>

{{#if data.totalCD}}
<div class="form-group">
	<label>CD</label>
	<div class="form-fields">
		<select title="Atributo-Chave" name="data.atrRes">
            {{#select data.atrRes}}
			{{#if (eq item.type "magia")}}
			<option value="int">Inteligência</option>
			<option value="sab">Sabedoria</option>
			<option value="car">Carisma</option>
			{{else}}
			{{#each config.atributos as |name key|}}
			<option value="{{key}}">{{name}}</option>
			{{/each}}
			{{/if}}
			{{/select}}
		</select>
		<input type="text" title="Bônus" name="data.cd" value="{{data.cd}}" data-dtype="Number" />
	</div>
</div>
{{/if}}