<header class="sheet-header flexrow">
	<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

	<div class="header-details flexrow">
		<h1 class="charname" style="margin: 0; flex-grow: 3;">
			<input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'T20.Name'}}"/>
		</h1>

		<div class="item-subtitle" style="text-align: center;">
			<h4 class="item-type">{{itemType}}</h4>
			<span class="item-status">{{itemStatus}}</span>
		</div>
		<ul class="summary flexrow">
			{{#if (eq item.type "poder")}}
				<li style="flex-grow: 3;"></li>
			{{/if}}
			{{#if (eq item.type "magia")}}
				<li style="flex-grow: 3;">
					{{labels.tipo}} {{labels.nivel}} ({{labels.escola}})
				</li>
			{{/if}}
			{{#if (eq item.type "arma")}}
				<li style="flex-grow: 3;">
					{{labels.toHit}} ({{labels.dano}}, {{labels.critico}})
				</li>
			{{/if}}
			{{#if (eq item.type "equipamento")}}
				<li style="flex-grow: 3;">
					{{data.tipo}} — {{data.armadura.value}} - {{data.armadura.penalidade}}
				</li>
			{{/if}}
			{{#if data.ativacao.custo}}
				<li style="text-align: center;">{{data.ativacao.custo}} PM</li>
			{{/if}}
		</ul>
	</div>
</header>
