<form class="{{cssClass}} flexcol" autocomplete="off">
	{{!-- Item Sheet Header --}}
	{{> "systems/tormenta20/templates/item/parts/item-header.html"}}
	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "T20.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "T20.Details" }}</a>
		<a class="item" data-tab="enchantments">{{ localize "T20.Enchantments" }}</a>
		<a class="item" data-tab="effects">{{ localize "T20.Effects" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-description.html"}}
		
		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			
			{{!-- Weapon Type --}}
			<div class="form-group">
				<label>{{ localize "T20.Type" }}</label>
				<div class="form-fields">
					<select name="system.tipoUso">
						{{selectOptions config.weaponTypes selected=item.system.tipoUso localize=true}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.Cost" }}</label>
				<div class="form-fields">
					<input type="number" data-dtype="Number" placeholder="0" name="system.ativacao.custo" value="{{item.system.ativacao.custo}}"/><label>{{localize 'T20.MP'}}</label>
				</div>
			</div>
			<hr>
			{{!-- Weapon Properties --}}
			<div class="form-group stacked weapon-properties">
				<label>{{ localize "T20.Properties" }}</label>
				{{#each config.weaponProperties as |name prop|}}
				<label class="checkbox">
					<input type="checkbox" name="system.propriedades.{{prop}}" value="{{name}}" {{checked (lookup ../item.system.propriedades prop)}} data-dtype="Boolean" /> {{ localize name }}
				</label>
				{{/each}}
			</div>
			<hr>
			{{!-- Rolls --}}
			{{> "systems/tormenta20/templates/item/parts/item-rolls.html"}}
			
			<div class="form-group">
				<label>{{ localize "T20.Critical" }}</label>
				<div class="form-fields">
					<input type="number" title="{{ localize 'T20.CriticalHitThreshold' }}" name="system.criticoM" value="{{item.system.criticoM}}" data-dtype="Number" min="1" max="20" placeholder="ex.: 19"/>
					<input type="number" title="{{ localize 'T20.CriticalHitMultiplier' }}" name="system.criticoX" value="{{item.system.criticoX}}" data-dtype="Number" min="2" placeholder="2" />
				</div>
			</div>
			{{#if (or item.system.propriedades.arr item.system.propriedades.dst)}}
			<div class="form-group">
				<label>{{ localize "T20.Range" }}</label>
				
				<div class="form-fields">
					<select class="selectatr" name="system.alcance" value={{item.system.alcance}} data-type="String">
						{{#select item.system.alcance}}
						<option value=""></option>
						<option value="short">{{localize "T20.DistShort"}}</option>
						<option value="medium">{{localize "T20.DistMedium"}}</option>
						<option value="long">{{localize "T20.DistLong"}}</option>
						{{/select}}
					</select>
				</div>
			</div>
			{{/if}}
			<hr>
			
			
			<div class="form-group">
				<label for="chatFlavor">{{ localize "T20.ChatFlavor" }}</label>
				<textarea name="system.chatFlavor" contenteditable="true">{{item.system.chatFlavor}}</textarea>
			</div>
		</div>
		
		{{!-- Enchantments Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-enchantments.html"}}
		
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/actor/parts/active-effects.html"}}
		</div>
	</section>
</form>
