<form class="tormenta20 flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    {{> "systems/tormenta20/templates/item/parts/item-header.html"}}
	
	{{!-- Item Sheet Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="description">Descrição</a>
        <a class="item" data-tab="details">Detalhes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
		{{!-- Description Tab --}}
        {{> "systems/tormenta20/templates/item/parts/item-description.html"}}
		
		<div class="tab details" data-group="primary" data-tab="details">
			<div class="form-group">
				<label>Tipo</label>
				<select name="data.tipo">
                    {{#select data.tipo}}
                    <option value="classe">Classe</option>
                    <option value="concedido">Concedido</option>
                    <option value="geral">Geral</option>
                    <option value="origem">Origem</option>
                    <option value="racial">Racial</option>
                    {{/select}}
                </select>
			</div>
			<div class="form-group">
				<label>Subtipo</label>
				<input type="text" name="data.subtipo" value="{{data.subtipo}}" data-dtype="String" />
			</div>
			<div class="form-group">
				<label>PM</label>
				<input type="text" name="data.custo" value="{{data.custo}}" data-dtype="Number" />
			</div>
			<div class="form-group">
				<label>CD</label>
				<div class="form-fields">
					<select class="selectatr" name="data.atrRes" value={{data.atrRes}} data-type="String">
						{{#select data.atrRes}}
						<option value="">-</option>
						<option value="for">Força</option>
						<option value="des">Destreza</option>
						<option value="con">Constituição</option>
						<option value="int">Inteligência</option>
						<option value="sab">Sabedoria</option>
						<option value="car">Carisma</option>
						{{/select}}
					</select>
					<input type="text" name="data.cd" value="{{data.cd}}" data-dtype="Number" title="Bônus" />
				</div>
			</div>
			<div class="form-group">
				<label>Fórmula</label>
				<input type="text" name="data.roll" value="{{data.roll}}" data-dtype="String"/>
			</div>
		</div>

    </section>
</form>
