<li class="attribute defense">
	<h4 class="attribute-name box-title">{{ localize "T20.Defense"}}</h4>
	<div class="attribute-value">
		<h1 style="height:auto">{{system.attributes.defesa.value}}</h1>
		<div class="property-attribution tooltip"></div>
	</div>
	<footer class="attribute-footer">
		<div class="flexrow">
			<select name="system.attributes.defesa.atributo" value="{{system.attributes.defesa.atributo}}" title="{{ localize 'T20.AbilityModifierBonus'}}">
				{{#select system.attributes.defesa.atributo}}
				<option value=""></option>
				{{#each config.atributosAbr as |name abl|}}
					<option value="{{abl}}">{{localize name}}</option>
				{{/each}}
				{{/select}}
			</select>
			<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.defesa.outros" value="{{system.attributes.defesa.outros}}" title="{{localize 'T20.Other'}}">
		</div>
	</footer>
</li>


<!--
	<div class="property-attribution tooltip">
		<table>
			<tbody><tr>
				<td class="attribution-value mode-5">
					14
				</td>
				<td class="attribution-label">Scale Mail</td>
			</tr>
			<tr>
				<td class="attribution-value mode-2">
					2
				</td>
				<td class="attribution-label">Shield</td>
			</tr>
			<tr class="total">
				<td class="attribution-value">16</td>
				<td class="attribution-label">Total</td>
			</tr>
		</tbody></table>
	</div>
-->
