<form class="flexcol automation-race-choice" autocomplete="off">
	<div class="form-group">
		<p>Você gostaria de 2 perícias ou 1 perícia e 1 poder geral?</p>
	</div>
	<div class="form-group flexrow" style="gap: 1em;">
		<button type="submit" name="choice" value="skills" class="choice-btn">
			2 Perícias
		</button>
		<button type="submit" name="choice" value="skill-power" class="choice-btn">
			1 Perícia e 1 Poder Geral
		</button>
	</div>
</form>